./*.tfstate
./*.tfstate.backup
./.terraform/
./.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terragrunt-cache/
./terraform/*.tfstate
./terraform/terraform.tfvars
./terraform/*.tfstate.backup
./terraform/.terraform/
./terraform/.terraform.lock.hcl
./terraform/bootstrap/.terraform/
./terraform/bootstrap/.terraform.lock.hcl
./terraform/bootstrap/*.tfstate
./terraform/bootstrap/*.tfstate.backup
./terraform/modules/**/.terraform/
./terraform/modules/**/.terraform.lock.hcl
./terraform/modules/**/terraform.tfstate
./terraform/modules/**/terraform.tfstate.backup
terraform/bootstrap/.terraform/
terraform/.terraform/
terraform/bootstrap/.terraform.lock.hcl
terraform/bootstrap/.terraform/
terraform/bootstrap/terraform.tfstate
terraform/bootstrap/terraform.tfstate.backup
terraform/.terraform.lock.hcl
.vscode/
