---
- name: Install Docker on all instances
  hosts: all
  become: yes
  roles:
    - docker

- name: Deploy backend (Redis + Worker containers)
  hosts: backend
  become: yes
  roles:
    - backend

- name: Deploy frontend (Vote + Result containers)
  hosts: frontend
  become: yes
  roles:
    - frontend

- name: Deploy database (PostgreSQL container)
  hosts: db
  become: yes
  roles:
    - database
