---
- name: Configure Docker on all instances
  hosts: all
  become: yes
  roles:
    - docker

- name: Configure .NET and Redis on backend
  hosts: jke-redis-worker
  become: yes
  roles:
    - dotnet
    - redis

- name: Configure PostgreSQL on database
  hosts: jke-postgres
  become: yes
  roles:
    - postgres

- name: Configure frontend (Python + Nginx)
  hosts: jke-bastion
  become: yes
  roles:
    - app